############
# MAC OS X #
############

.DS_STORE
.trashes

###########
# WINDOWS #
###########

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

#######
# IDE #
#######

# VS Code specific
.vscode

##########
# PYTHON #
##########

# Compilations
.pyc

# Project files
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment files:
*.env

# Docker working directories:
Docker/database_data

# Testing and learning folders
learning
learning/*

logs
logs/*